
.jumbotron, body{
    background: rgb(153, 153, 153);
}
.btn-default{
    border-radius: 10px;
    height: 33px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
p{
    color: white;
}